# {{ ansible_managed }}

{% if satellite_install_dns_search is defined and satellite_install_dns_search |length > 0 %}
search {{ satellite_install_dns_search | join(' ') }}
{% endif %}
{% for nameserver in satellite_install_dns_servers %}
nameserver {{ nameserver }}
{% endfor %}
