{% set preflight_openshift = (bootstrap_generate_env_vars_preflight | default(generate_env_vars_preflight | default({}))).openshift | default({}) %}
{% set resolved_api_host = preflight_openshift.api_host | default(preflight_openshift.host | default(generate_env_vars_prompt_ocp_host.user_input | default('', true), true), true) %}
{% set resolved_app_domain = preflight_openshift.apps_domain | default(generate_env_vars_prompt_ocp_domain.user_input | default('', true), true) %}
{% set resolved_app_domain_alt = preflight_openshift.apps_domain_alt | default(resolved_app_domain, true) %}
{% set resolved_skip_tls = preflight_openshift.skip_tls_verify | default(true) | bool %}
---
# Shared OpenShift API connection vars for all component playbooks.
# Playbooks set K8S_AUTH_* from host/token/verify_ssl in this file.
api_host: "{{ resolved_api_host }}"
host: "{{ resolved_api_host }}"
token: "{{ preflight_openshift.token | default('', true) }}"
domain: "{{ generate_env_vars_base_domain | default(bootstrap_generate_env_vars_base_domain | default(''), true) }}"
app_domain: "{{ resolved_app_domain }}"
apps_domain: "{{ resolved_app_domain }}"
app_domain_alt: "{{ resolved_app_domain_alt }}"
apps_domain_alt: "{{ resolved_app_domain_alt }}"
skip_tls_verify: {{ resolved_skip_tls | lower }}
verify_ssl: {{ (not resolved_skip_tls) | lower }}
validate_certs: {{ (not resolved_skip_tls) | lower }}
