---
target_platform: {{ generate_env_vars_platform | default('all') }}

{% if generate_env_vars_platform in ['all', 'openshift'] %}
host: "{{ generate_env_vars_prompt_ocp_host.user_input }}"
domain: "{{ generate_env_vars_prompt_ocp_domain.user_input }}"
app_domain: "apps.{{ generate_env_vars_prompt_ocp_domain.user_input }}"
verify_ssl: false
validate_certs: false
{% endif %}

{% if generate_env_vars_use_aap | bool %}
aap_version: {{ generate_env_vars_aap_version_number }}

controller_bootstrap_organization: "{{ generate_env_vars_prompt_aap_org.user_input }}"
controller_bootstrap_inventory_name: "{{ generate_env_vars_prompt_aap_inventory.user_input }}"
controller_bootstrap_project_name: "{{ generate_env_vars_prompt_aap_project.user_input }}"
controller_bootstrap_execution_environment_name: "{{ generate_env_vars_prompt_aap_ee.user_input | default('ee-supported-rhel9', true) }}"
controller_bootstrap_creds: "{{ generate_env_vars_prompt_aap_vault_cred.user_input }}"

controller_bootstrap_controller_organizations:
  - name: "{{ '{{ controller_bootstrap_organization }}' }}"
    description: "{{ '{{ controller_bootstrap_organization }}' }}"

controller_bootstrap_controller_projects:
  - name: "{{ '{{ controller_bootstrap_project_name }}' }}"
    organization: "{{ '{{ controller_bootstrap_organization }}' }}"
    scm_type: git
    scm_url: ""
    scm_branch: main
    credential: ""
    wait: true
    update_project: true

controller_bootstrap_controller_inventories:
  - name: "{{ '{{ controller_bootstrap_inventory_name }}' }}"
    organization: "{{ '{{ controller_bootstrap_organization }}' }}"
    description: "Generated inventory"
    variables: {}

controller_bootstrap_controller_execution_environments:
  - name: "{{ '{{ controller_bootstrap_execution_environment_name }}' }}"
    image: quay.io/ansible/awx-ee:latest
    pull: missing

controller_bootstrap_controller_labels:
  - name: bootstrap
    organization: "{{ '{{ controller_bootstrap_organization }}' }}"
{% endif %}
