{% set preflight_jira = bootstrap_generate_env_vars_preflight.jira | default({}) if bootstrap_generate_env_vars_preflight is defined else {} %}
---
vault_jira_username: "{{ preflight_jira.username | default('', true) if bootstrap_generate_env_vars_preflight is defined else bootstrap_generate_env_vars_prompt_jira_username.user_input }}"
vault_jira_token: "{{ preflight_jira.token | default('', true) if bootstrap_generate_env_vars_preflight is defined else bootstrap_generate_env_vars_prompt_jira_token.user_input }}"
