{% set preflight_jira = generate_env_vars_preflight.jira | default({}) %}
---
vault_jira_token: "{{ preflight_jira.token if generate_env_vars_preflight is defined else generate_env_vars_prompt_jira_token.user_input }}"
jira_username: "{{ preflight_jira.username if generate_env_vars_preflight is defined else generate_env_vars_prompt_jira_username.user_input }}"
