---
collections:
  - name: kubernetes.core
  - name: community.general
  - name: ansible.controller
  - name: infra.aap_configuration
  - name: {{ generate_playbook_repo_generated_bootstrap_collection }}
  - name: {{ generate_playbook_repo_generated_collection_namespace }}.{{ generate_playbook_repo_generated_collection_name }}
