---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ ocp_nfs_storage_class_name }}
provisioner: nfs.csi.k8s.io
parameters:
  server: {{ ocp_nfs_storage_server }}
  share: {{ ocp_nfs_storage_share }}
mountOptions:
  - nfsvers={{ ocp_nfs_storage_nfs_version }}
reclaimPolicy: {{ ocp_nfs_storage_reclaim_policy }}
volumeBindingMode: {{ ocp_nfs_storage_binding_mode }}
allowVolumeExpansion: {{ ocp_nfs_storage_allow_volume_expansion | bool | lower }}
