apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: {{ name_space }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: {{ zabbix_mariadb_image }}
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: zabbix-mariadb-secret
                  key: mariadb-root-password
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: zabbix-mariadb-secret
                  key: mariadb-database
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: zabbix-mariadb-secret
                  key: mariadb-user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: zabbix-mariadb-secret
                  key: mariadb-password
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mariadb-data
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: {{ name_space }}
spec:
  selector:
    app: mariadb
  ports:
    - port: 3306
      targetPort: 3306
