apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-data
  namespace: {{ name_space }}
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: {{ zabbix_storage_size }}
{% if (storage | default('') | string | trim | length) > 0 %}
  storageClassName: {{ storage }}
{% endif %}
