---
version: 3
images:
  base_image:
    name: "{{ aap_build_ee_base_image }}"
{% if aap_build_ee_package_manager_path | default('', true) | trim | length > 0 %}
options:
  package_manager_path: "{{ aap_build_ee_package_manager_path }}"
{% endif %}
{% if aap_build_ee_collection_files | length > 0 %}
additional_build_files:
{% for collection_file in aap_build_ee_collection_files %}
  - src: "{{ collection_file }}"
    dest: "collection-artifacts"
{% endfor %}
{% endif %}
dependencies:
  galaxy: requirements.yml
