---
collections:
{% for collection in __aap_build_ee_collections %}
  - name: "{{ collection.name }}"
{% if collection.version | default('', true) | string | trim | length > 0 %}
    version: "{{ collection.version }}"
{% endif %}
{% endfor %}
{% for collection_file in aap_build_ee_collection_files %}
  - name: "{{ 'collection-artifacts/' ~ (collection_file | basename) }}"
    type: file
{% endfor %}
